@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../assets/fonts/brandon_bld-webfont.woff2') format('woff2'),
         url('../assets/fonts/brandon_bld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('../assets/fonts/brandon_med-webfont.woff2') format('woff2'),
         url('../assets/fonts/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('../assets/fonts/brandon_reg-webfont.woff2') format('woff2'),
         url('../assets/fonts/brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
