@import url("https://fonts.googleapis.com/css?family=Montserrat");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'brandon_grotesquebold';
  src: url("../assets/fonts/brandon_bld-webfont.woff2") format("woff2"), url("../assets/fonts/brandon_bld-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brandon_grotesquemedium';
  src: url("../assets/fonts/brandon_med-webfont.woff2") format("woff2"), url("../assets/fonts/brandon_med-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url("../assets/fonts/brandon_reg-webfont.woff2") format("woff2"), url("../assets/fonts/brandon_reg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*------------------------------------*  #COLORS
\*------------------------------------*/
/*------------------------------------*  #GRADIENTS
\*------------------------------------*/
/*------------------------------------*  #TYPOGRAHPY
\*------------------------------------*/
/*------------------------------------*  #SHADOWS
\*------------------------------------*/
/*------------------------------------*  #ANIMATION
\*------------------------------------*/
/*------------------------------------*  #RESPONSIVE
\*------------------------------------*/
/*------------------------------------*  #MEDIA QUERRIES
\*------------------------------------*/
/*------------------------------------*  #ASPECT RATIO (default 4:3)
\*------------------------------------*/
/*------------------------------------*  #GLOBAL STYLES
\*------------------------------------*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (max-width: 468px) {
    html {
      font-size: 56%; } }

::-moz-selection {
  background: #EE154A;
  text-shadow: 2px 1px 4px rgba(29, 29, 29, 0.5);
  color: #fff; }

::selection {
  background: #EE154A;
  text-shadow: 2px 1px 4px rgba(29, 29, 29, 0.5);
  color: #fff; }

::-webkit-scrollbar {
  width: 5px;
  background: #f6f6f6; }

::-webkit-scrollbar-thumb {
  background-color: #EE154A; }

img {
  max-width: 100%;
  height: auto; }

hr, .hr {
  display: block;
  height: .1rem;
  border: 0;
  margin: 0;
  padding: 0;
  background: rgba(182, 182, 182, 0.4); }

.wrapper {
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto; }
  @media (max-width: 468px) {
    .wrapper {
      padding: 20px; } }

figure {
  margin: 0; }

/*------------------------------------*  #TYPOGHRAPY
\*------------------------------------*/
body {
  font-family: brandon_grotesque_regularRg, Helvetica, Arial, Sans-Serif;
  color: #38415F;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.9rem; }

h1, h2, h3, h4, h5, h6, th {
  font-family: Montserrat, Helvetica, Arial, Sans-Serif;
  color: #1C1E23;
  margin: 0 0 0.6em 0;
  font-weight: 400;
  line-height: 1.18; }

h1, .h1 {
  font-size: 6.4rem; }

h2, .h2 {
  font-size: 4.8rem; }

h3, .h3 {
  font-size: 3.6rem; }

h4, .h4 {
  font-size: 2.7rem; }

h5, .h5 {
  font-size: 2.2rem; }

h6, .h6 {
  font-size: 2rem;
  color: #38415F; }

p, .p {
  margin: 0 0 1em 0;
  max-width: 750px; }
  p:last-child, .p:last-child {
    margin-bottom: 0; }

.font-bold {
  color: #1C1E23;
  font-family: brandon_grotesquebold, Helvetica, Arial, Sans-Serif; }

.font-medium {
  color: #1C1E23;
  font-family: brandon_grotesquemedium, Helvetica, Arial, Sans-Serif; }

a {
  transition: 0.28s all ease;
  text-decoration: none;
  color: initial; }

/*------------------------------------*  #STANDARD BUTTON
\*------------------------------------*/
.btn, input[type=submit],
button {
  font-family: brandon_grotesquemedium, Helvetica, Arial, Sans-Serif;
  background: #EE154A;
  transition: 0.28s all ease;
  box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.09), 0 4px 17px rgba(0, 0, 0, 0.1);
  border: none;
  white-space: normal;
  padding: 0.55em 1.7em 0.5em;
  display: inline-block;
  font-size: 1.8rem;
  border-radius: 1px;
  margin-right: 18px;
  color: #fff; }
  .btn:last-child, input[type=submit]:last-child,
  button:last-child {
    margin-right: 0; }
  .btn:hover, input[type=submit]:hover,
  button:hover {
    background: #c20e3a;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.08), 1px 8px 46px rgba(0, 0, 0, 0.09);
    color: #fff; }

/*------------------------------------*  #COLOR VARIATION
\*------------------------------------*/
.btn--black {
  background: #1C1E23; }
  .btn--black:hover {
    background: #33363f; }

.btn--black.btn--ghost {
  color: #1C1E23;
  box-shadow: inset 0px 0px 0px 0.15em #1C1E23; }
  .btn--black.btn--ghost:hover {
    background: #282C37; }

.btn--white {
  background: #fff;
  color: #1C1E23; }
  .btn--white:hover {
    background: #e6e6e6;
    color: #1C1E23; }

.btn--white.btn--ghost {
  color: #fff;
  box-shadow: inset 0px 0px 0px .15em #fff; }
  .btn--white.btn--ghost:hover {
    background: #e6e6e6;
    color: #1C1E23; }

/*------------------------------------*  #ROUNDED BUTTON
\*------------------------------------*/
.btn--rounded, input[type=submit] {
  border-radius: 4em; }

/*------------------------------------*  #BIG
\*------------------------------------*/
.btn--big, input[type=submit] {
  font-size: 1.9rem; }

.btn--small {
  padding: 0.4em 1.4em 0.37em 1.4em;
  font-size: 1.9rem; }

/*------------------------------------*  #GHOST BUTTON
\*------------------------------------*/
.btn--ghost {
  color: #EE154A;
  box-shadow: inset 0px 0px 0px 0.15em #EE154A;
  background: transparent; }
  .btn--ghost:hover {
    color: #fff;
    background: #EE154A;
    box-shadow: none; }

/*------------------------------------*  #DISABLED
\*------------------------------------*/
.btn--disabled {
  background: #B6B6B6;
  cursor: not-allowed;
  box-shadow: none;
  color: #fff; }
  .btn--disabled:hover {
    background: #B6B6B6;
    box-shadow: none; }

/*------------------------------------*  #TEXT LINK
\*------------------------------------*/
.text-link,
.text-link a {
  color: #EE154A;
  font-family: brandon_grotesquebold, Helvetica, Arial, Sans-Serif; }
  .text-link:hover,
  .text-link a:hover {
    color: #c20e3a; }

.btn-text {
  color: #EE154A;
  border-bottom: 1px solid #B6B6B6;
  padding-bottom: 1px;
  margin-right: 18px; }
  .btn-text:last-child {
    margin-right: 0; }
  .btn-text:hover {
    color: #c20e3a;
    border-color: #c20e3a; }

/*------------------------------------*  #Form
\*------------------------------------*/
textarea,
select,
input {
  background: #f6f6f6;
  border: 2px solid #f6f6f6;
  transition: 0.28s all ease;
  outline: none;
  display: block;
  width: 100%;
  padding: 0.45em .9em;
  font-weight: 400;
  max-width: 300px;
  box-sizing: border-box; }
  textarea:focus,
  select:focus,
  input:focus {
    border-bottom: 2px solid rgba(182, 182, 182, 0.4); }

input[type=submit],
input[type=radio],
input[type=checkbox] {
  width: initial; }

input[type=submit] {
  border: none;
  margin-top: 15px; }

label {
  margin-bottom: 8px;
  display: block; }

input[type=radio] ~ label {
  display: initial; }

.checkbox,
.radio {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .checkbox input[type="checkbox"],
  .checkbox input[type="radio"],
  .radio input[type="checkbox"],
  .radio input[type="radio"] {
    margin: 0 10px 0 0; }

.input {
  margin-bottom: 2.5rem; }

.input--dark {
  background: #1C1E23;
  border: #1C1E23 1px solid;
  color: #fff; }
  .input--dark::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff; }
  .input--dark::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff; }
  .input--dark:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff; }
  .input--dark:-moz-placeholder {
    /* Firefox 18- */
    color: #fff; }
  .input--dark:focus {
    border: 1px solid #1C1E23; }

.btn-group {
  display: -ms-flexbox;
  display: flex; }
  .btn-group .input {
    margin: 0;
    display: inline; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.center-container {
  margin: 0 auto; }

.center-image {
  margin: 0 auto;
  display: block; }

.center-text {
  text-align: center; }

.center-content-hor {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .center-content-hor p {
    text-align: center;
    max-width: 540px; }

.center-content-vert {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.bg-dark {
  background: #1C1E23;
  color: #EEE8E8; }
  .bg-dark h1, .bg-dark h2, .bg-dark h3, .bg-dark h4, .bg-dark h5, .bg-dark h6, .bg-dark th, .bg-dark .font-medium, .bg-dark .font-bold {
    color: #fff; }
  .bg-dark textarea,
  .bg-dark select,
  .bg-dark input {
    background: #282C37;
    border: #282C37 1px solid; }
    .bg-dark textarea:focus,
    .bg-dark select:focus,
    .bg-dark input:focus {
      border: 1px solid #1C1E23; }
  .bg-dark input[type=submit] {
    background: #EE154A; }
    .bg-dark input[type=submit]:hover {
      background: #c20e3a; }

.bg-light {
  background: #f6f6f6;
  color: #38415F; }
  .bg-light h1, .bg-light h2, .bg-light h3, .bg-light h4, .bg-light h5, .bg-light h6, .bg-light th, .bg-light .font-medium, .bg-light .font-bold {
    color: #1C1E23; }

/*------------------------------------*  #Form
\*------------------------------------*/
table {
  width: 100%; }

thead {
  border-bottom: 2px solid rgba(182, 182, 182, 0.3); }

th {
  text-align: left;
  font-size: 1.7rem; }

tr {
  border-bottom: 1px solid rgba(182, 182, 182, 0.2); }
  tr:last-child {
    border-bottom: none; }

tr:after {
  margin-bottom: 30px;
  content: '';
  display: inline-block; }
  tr:after:last-child {
    display: none; }
