/*------------------------------------*\
  #Base styles
\*------------------------------------*/

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html{
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include mobile {
		font-size: 65%;
	}
}

::selection{
	background: $color-selection;
	text-shadow: $text-shadow-sm;
	color: #fff;
}

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-thumb{
    color-background: $scrollbar-color;
}

body{
	background: $color-background;
}

// img reset
img{
	max-width: 100%;
  height: auto;
  border: 0;
}

// basic hr
hr, .hr{
	display: block;
	height: .1rem;
	border: 0;
	margin: 0;
	padding: 0;
	border-top: 1px solid $color-border;
}
