/*------------------------------------*\
  #Base styles
\*------------------------------------*/

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html{
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection{
	background: $selection-color;
	text-shadow: $text-shadow-small;
	color: #fff;
}

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-thumb{
    background-color: $scrollbar-color;
}

body{
	background: $background-color;
}

// img reset
img{
	max-width: 100%;
  height: auto;
  border: 0;
}

// basic hr
hr, .hr{
	display: block;
	height: .1rem;
	border: 0;
	margin: 1em 0;
	padding: 0;
	border-top: 1px solid $border-color;
}
