/*------------------------------------*\
  #Buttons
\*------------------------------------*/

.btn{
	padding: .8em 2.7em;
	color: $main-color;
	font-size: 1.4rem;
	text-transform: uppercase;
	transition: $transition1;
	font-weight: 500;

	&--main{
		box-shadow: $shadow-sm;
		background: $main-color;
		color: #fff;

		&:hover{
			background: $main-color-dark;
			color: #fff;
			box-shadow: $shadow-md;
		}
	}

	&--flat{

		&:hover{
			color: $main-color-dark;
		}
	}
}

.btn--circle{
	display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 56px;
  height: 56px;
  line-height: 54px;
  background-color: $main-color;
  border-radius: 50%;
  vertical-align: middle;
	text-align: center;

	i{
		font-size: 3.3rem;
    font-style: normal;
    line-height: 52px;
	}

	&:hover{
		box-shadow: $shadow-md;
		background: $main-color-dark;
	}
}

.text-link, .text-link a {
	color: $main-color;
	text-decoration: none;
	font-weight: 600;

	&:hover{
		color: $main-color-dark;
	}
}
