/*------------------------------------*\
  #Buttons
\*------------------------------------*/

.btn{
	font-size: 1.4rem;
	padding: 1em 2.7em;
	color: #fff;
	border-radius: 1px;
	background: $color-main;
	transition: $transition1;
	box-shadow: $shadow-sm;
	display: inline-block;
	margin-right: 10px;

	&:last-child{
		margin-right: 0;
	}

	&:hover{
		background: $color-main--dark;
		box-shadow: $shadow-md;
		color: #fff;
	}



	// rounded
	&--rounded{
		border-radius: 4em;
	}



	// colors
	// color black
	&--black{
		background: $oxford;

		&:hover{
			background: lighten($oxford, 9%);
		}
	}

	&--black.btn--ghost{

		color: $oxford;
		box-shadow: inset 0px 0px 0px .15em $oxford;

		&:hover{
			background: $oxford;
		}
	}


	// color green
	&--green{
		background: $persian-green;

		&:hover{
			background: darken($persian-green, 9%);
		}
	}

	&--green.btn--ghost{

		color: $persian-green;
		box-shadow: inset 0px 0px 0px .15em $persian-green;

		&:hover{
			background: $persian-green;
		}
	}


	// color white
	&--white{
		background: #fff;
		color: $oxford;

		&:hover{
			background: darken(#fff, 9%);
			color: $oxford;
		}
	}

	&--white.btn--ghost{
		color: #fff;
		box-shadow: inset 0px 0px 0px .15em #fff;

		&:hover{
			background: #fff;
			color: $oxford;
		}
	}



	// ghost
	&--ghost{
		color: $color-main;
		box-shadow: inset 0px 0px 0px .15em $color-main;
		background: transparent;

		&:hover{
			color: #fff;
			background: $color-main;
			box-shadow: none;
		}
	}
}


// text links
.text-link,
.text-link a {
	color: $color-main;
	text-decoration: none;
	font-weight: 600;

	&:hover{
		color: $color-main--dark;
	}
}
