/*------------------------------------*\
  #STANDARD BUTTON
\*------------------------------------*/

.btn {
  font-family: $font-body;
  background: $color-main;
  transition: $transition1;
  box-shadow: $shadow-sm;
  border: none;
  white-space: normal;
  padding: 0.55em 1.7em 0.5em;
  display: inline-block;
  font-size: 1.8rem;
  border-radius: 1px;
  margin-right: 18px;
  color: #fff;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: $body-color;
    box-shadow: $shadow-md;
    color: #fff;
  }
}

/*------------------------------------*\
  #DISABLED
\*------------------------------------*/

.btn--disabled {
  background: $grey;
  cursor: not-allowed;
  box-shadow: none;
  color: #fff;

  &:hover {
    background: $grey;
    box-shadow: none;
  }
}

/*------------------------------------*\
  #TEXT LINK
\*------------------------------------*/

// text links
.text-link,
.text-link a {
  color: $color-main;
  font-family: $font-body;

  &:hover {
    color: $body-color;
  }
}
