/*------------------------------------*\
  #STANDARD BUTTON
\*------------------------------------*/

.btn{
	font-family: $font-body--medium;
	background: $color-main;
	transition: $transition1;
	box-shadow: $shadow-sm;
	padding: 0.6em 1.8em 0.55em 1.8em;
	display: inline-block;
	font-size: 1.8rem;
	border-radius: 1px;
	margin-right: 18px;
	color: #fff;

	&:last-child{
		margin-right: 0;
	}

	&:hover{
		background: $color-main--dark;
		box-shadow: $shadow-md;
		color: #fff;
	}
}





/*------------------------------------*\
  #COLOR VARIATION
\*------------------------------------*/

// color black
.btn--black{
	background: $oxford;

	&:hover{
		background: lighten($oxford, 10%);
	}
}

.btn--black.btn--ghost{
	color: $oxford;
	box-shadow: inset 0px 0px 0px .15em $oxford;

	&:hover{
		background: $color-black--alt;
	}
}


// color white
.btn--white{
	background: #fff;
	color: $oxford;

	&:hover{
		background: darken(#fff, 10%);
		color: $oxford;
	}
}

.btn--white.btn--ghost{
	color: #fff;
	box-shadow: inset 0px 0px 0px .15em #fff;

	&:hover{
		background: $color-white--dark;
		color: $oxford;
	}
}





/*------------------------------------*\
  #ROUNDED BUTTON
\*------------------------------------*/

.btn--rounded{
	border-radius: 4em;
}





/*------------------------------------*\
  #BIG
\*------------------------------------*/

.btn--big{
	font-size: 1.9rem;
}

.btn--small{
  padding: 0.4em 1.4em 0.37em 1.4em;
	font-size: 1.9rem;
}





/*------------------------------------*\
  #GHOST BUTTON
\*------------------------------------*/

.btn--ghost{
	color: $color-main;
	box-shadow: inset 0px 0px 0px .15em $color-main;
	background: transparent;

	&:hover{
		color: #fff;
		background: $color-main;
		box-shadow: none;
	}
}





/*------------------------------------*\
  #DISABLED
\*------------------------------------*/

.btn--disabled{
	background: $nobel;
	cursor: not-allowed;
	box-shadow: none;
	color: #fff;

	&:hover{
		background: $nobel;
		box-shadow: none;
	}
}




/*------------------------------------*\
  #TEXT LINK
\*------------------------------------*/

// text links
.text-link,
.text-link a {
	color: $color-main;
	font-family: $font-body--bold;

	&:hover{
		color: $color-main--dark;
	}
}

.btn-text {
  color: $color-main;
  border-bottom: 1px solid $nobel;
  padding-bottom: 1px;
	margin-right: 18px;

	&:last-child{
		margin-right:  0;
	}

	&:hover{
		color: $color-main--dark;
		border-color: $color-main--dark;
	}
}
