/*------------------------------------*\
  #GLOBAL STYLES
\*------------------------------------*/

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html{
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include mq-mobile {
		font-size: 56%;
	}
}

body{
	margin-bottom: 1000px;
	background: $color-white--alt;
}

::selection{
	background: $color-selection;
	text-shadow: $text-shadow-sm;
	color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
	background: $color-white--alt;	
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;
}

// img reset
img{
	max-width: 100%;
  height: auto;
}

// basic hr
hr,
.hr{
	display: block;
	height: .1rem;
	border: 0;
	margin: 0;
	padding: 0;
	background: $color-border;
}

// wrapper
.wrapper{
	padding: 40px;
	max-width: 1000px;
	margin: 0 auto;

	@include mq-mobile {
		padding: 20px;
	}
}

figure{
	margin: 0;
}
