// Load fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

// Standard
html{
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body{
	background: $background-color;
}

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

::selection{
	background: $selection-color;
	text-shadow: $shadow;
	color: #fff;
}

::-webkit-scrollbar{
  height: 6px;
  width: 3.5px;
  background: transparent;
}

::-webkit-scrollbar-thumb{
  color: $scrollbar-color;
  background-color: $scrollbar-color;
}

// Basic text
h1, h2, h3, h4, h5, th, a{
	font-family: $header-font;
	color: $header-color;
}

h1{
	font-size: 5.9rem;
	font-weight: 300;
	margin: 1rem 0;

	@include mobile {
		font-size: 5rem;
	}
}

h2{
  font-size: 4.1rem;
  font-weight: 400;
  margin: 1rem 0;
}

h3{
	font-size: 3.5rem;
	font-weight: 400;
	margin: 1rem 0;
}

h4{
  font-size: 2.9rem;
  font-weight: 400;
  margin: 1rem 0;
}

h5{
  font-size: 2.3rem;
  font-weight: 500;
  margin: 0.6rem 0 0.5rem 0;
  color: $header-color;
}

h6{
	font-size: 1rem;
	margin: 0rem 0 0.5rem 0;
  font-weight: 400;
  color: $text-color;
}

p, li, ul, td, span{
	font-family: $text-font;
	color: $text-color;
}

p{
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 1.7;
	margin-top: 0;
	margin-bottom: 22px;
}

a{
	margin: 1rem 0;
	font-size: 1.7rem;
	text-decoration: none;
	transition: $transition1;
}

strong, .strong{
	font-weight: 600;
	color: $header-color;
}

// img reset
img{
	max-width: 100%;
  height: auto;
  border: 0;
}

// buttons
button, .btn{
	box-shadow: $shadow;
	color: #fff;
	background: $main-color;
	padding: $padding-btn;
	border-radius: $radius;
	font-size: 1.4rem;
	border: none;
	text-transform: uppercase;
	transition: $transition1;

	&:hover{
		background: $main-color3;
		color: #fff;
		box-shadow: $shadow2;
	}
}

.btn2{
	text-decoration: none;
	padding: $padding-btn;
	color: $main-color;
	font-size: 1.4rem;
	text-transform: uppercase;
	transition: $transition1;
	font-weight: 500;

	&:hover{
		color: $main-color3;
	}
}

.text-link, .text-link a{
	color: $main-color;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.4rem;

	&:hover{
		color: $main-color3;
	}
}

// Basic hr
hr, .hr{
	display: block;
	height: 1px;
	border: 0;
	margin: 1em 0;
	padding: 0;
	border-top: 1px solid $divider-color;
}

// form
form{
  max-width: 350px;
}

input, textarea{
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  transition: $transition1;
  font-size: 1.3rem;
}

input:focus, textarea:focus{
  border: 1px solid $main-color;
  color: #333333;
}

.form-label {
  margin-bottom: 4px;
}

label{
	font-size: 1.5rem;
	color: $text-color;
}

.option {
	display: flex;
}
