// Grid
.grid{
  display: flex;
  flex-wrap: wrap;
}

.grid-item{
  flex: 1;
  padding: 12px;
  min-height: 50px;
  justify-content: center;
}

.grid-item1{
  padding: 12px;
  min-height: 50px;
  transition: $transition2;
  width: 8.333%;

  @include mobile {
    width: 100%;
  }
}

.grid-item2{
  padding: 12px;
  min-height: 50px;
  transition: $transition2;
  width: 16.666%;

  @include mobile {
    width: 100%;
  }
}

.grid-item3{
  padding: 12px;
  min-height: 50px;
  transition: $transition2;
  width: 25%;

  @include mobile {
    width: 100%;
  }
}

.grid-item4{
  padding: 12px;
  min-height: 50px;
  transition: $transition2;
  width: 33.333%;

  @include mobile {
    width: 100%;
  }
}

.grid-item5{
  padding: 12px;
  min-height: 50px;
  transition: $transition2;
  width: 41.666%;

  @include mobile {
    width: 100%;
  }
}

.grid-item6{
  padding: 12px;
  min-height: 50px;
  transition: $transition2;
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.grid-item7{
  padding: 12px;
  min-height: 50px;
  transition: $transition2;
  width: 58.333%;

  @include mobile {
    width: 100%;
  }
}

.grid-item8{
  padding: 12px;
  min-height: 50px;
  transition: $transition2;
  width: 66.666%;

  @include mobile {
    width: 100%;
  }
}

.grid-item9{
  padding: 12px;
  min-height: 50px;
  transition: $transition2;
  width: 74.999%;

  @include mobile {
    width: 100%;
  }
}

.grid-item10{
  padding: 12px;
  min-height: 50px;
  transition: $transition2;
  width: 83.332%;

  @include mobile {
    width: 100%;
  }
}

.grid-item11{
  padding: 12px;
  min-height: 50px;
  transition: $transition2;
  width: 91.666%;

  @include mobile {
    width: 100%;
  }
}

.grid-item12{
  padding: 12px;
  min-height: 50px;
  transition: $transition2;
  width: 100%;

  @include mobile {
    width: 100%;
  }
}
