// Modal
.modal{
  background: #fff;
  width: 70%;
  margin: 0 auto;
  position: fixed;
  transform: translateY(100%);
  transition: $transition2;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80vh;
  overflow: hidden;
  left: 50;
  z-index: 80;

  .wrapper{
    padding-top: 50px;
    padding-bottom: 0px;
  }

  @include tablet {
        height: calc(100vh - 60px);
        width: 100%;
        overflow: scroll;
  }
}

.modal-active{
  transform: translateY(0);
}

.modal-exit {
    position: relative;
    width: 20px;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

#modal-overlay{
	width: 100vw;
	height: 120vh;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	z-index: 70;
	cursor: pointer;
}
