/*------------------------------------*\
  #COLORS
\*------------------------------------*/

// Colors names
$valencia: #ee154a;
$grey: #b6b6b6;
$color-overlay: #1c1e32;

// Element-colors
$color-main: $valencia;
$color-main--light: lighten($color-main, 10%);
$color-main--dark: darken($color-main, 10%);

$color-border: rgba(182, 182, 182, 0.4);
$body-color: #22293d;

$color-selection: $color-main;
$scrollbar-color: $color-main;

/*------------------------------------*\
  #GRADIENTS
\*------------------------------------*/

// Overlay
$overlay: rgba(#1c1e32, 0.4);
$overlay-vertical: linear-gradient(
  to bottom,
  rgba($color-overlay, 0.6),
  rgba(0, 0, 0, 0)
);
$overlay-horizontal: linear-gradient(
  to right,
  rgba($color-overlay, 0.6),
  rgba(0, 0, 0, 0)
);

/*------------------------------------*\
  #TYPOGRAHPY
\*------------------------------------*/

// Fonts
$font-body: 'Nunito', Helvetica, Arial, Sans-Serif;

/*------------------------------------*\
  #SHADOWS
\*------------------------------------*/

// Box-shadows
$shadow-sm: 1px 4px 9px rgba(0, 0, 0, 0.09), 0 4px 17px rgba(0, 0, 0, 0.1);
$shadow-md: 5px 10px 20px rgba(0, 0, 0, 0.08), 1px 8px 46px rgba(0, 0, 0, 0.09);
$shadow-lg: 15px 20px 30px rgba(0, 0, 0, 0.11),
  1px 18px 46px rgba(0, 0, 0, 0.11);

// Text-shadows
$text-shadow-sm: 2px 1px 4px rgba(#1d1d1d, 0.5);
$text-shadow-lg: 2px 1px 4px rgba(#1d1d1d, 0.7);

/*------------------------------------*\
  #ANIMATION
\*------------------------------------*/

// Transtions
$transition1: 0.28s all ease;
$transition2: 0.38s all ease;
$transition3: 0.55s all ease;

/*------------------------------------*\
  #RESPONSIVE
\*------------------------------------*/

// Device widths
$mobile-width: 468px;
$tablet-width: 768px;
$desktop-width: 1024px;
