/*------------------------------------*\
  #COLORS
\*------------------------------------*/

// name-color
$valencia                 : #da4445;
$ocean-blue               : #269ed9;
$persian-green            : #009688;
$oxford                   : #1C1E23;
$bayoux                   : #38415F;
$athens-gray              : #f6f6f6;


// element-color
$color-main               : $ocean-blue;
$color-main--light				: lighten($color-main, 9%);
$color-main--dark				  : darken($color-main, 9%);
$color-accent             : $persian-green;
$color-accent--light		  : lighten($color-accent, 9%);
$color-accent--dark		 		: darken($color-accent, 9%);


$color-header						  : $oxford;
$color-text          			: $bayoux; 

$color-background         : $athens-gray;

$color-border					    : rgba(182, 182, 182, 0.4);

$color-selection				  : $color-main;
$scrollbar-color				  : $color-main;



/*------------------------------------*\
  #TYPOGRAHPY
\*------------------------------------*/

// fonts
$font-header					    : 'Lato', sans-serif;
$font-body						    : 'Lato', sans-serif;



/*------------------------------------*\
  #Shadows
\*------------------------------------*/

// box-shadows
$shadow-sm  	        		: 1px 4px 9px rgba(0, 0, 0, 0.09), 0 4px 17px rgba(0, 0, 0, 0.1);
$shadow-md	       			  : 5px 10px 20px rgba(0, 0, 0, 0.08), 1px 8px 46px rgba(0, 0, 0, 0.09);
$shadow-lg	        			: 15px 20px 30px rgba(0, 0, 0, 0.11), 1px 18px 46px rgba(0, 0, 0, 0.11);

// text-shadows
$text-shadow-sm           : 2px 1px 4px rgba(#1d1d1d, 0.5);
$text-shadow-lg           : 2px 1px 4px rgba(#1d1d1d, 0.7);



/*------------------------------------*\
  #ANIMATION
\*------------------------------------*/

// transtions
$transition1					    : 0.28s all ease;
$transition2					    : 0.38s all ease;
$transition3					    : 0.55s all ease;



/*------------------------------------*\
  #RESPONSIVE
\*------------------------------------*/

// device widths
$mobile-width             : 468px;
$tablet-width             : 768px;
$desktop-width            : 1024px;



/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

// Measurements
$nav-height               : 60px;
