/*------------------------------------*\
  #FIXED IMAGE
\*------------------------------------*/

.fixed-image{
	background: linear-gradient(
      rgba($color-main, 0.3),
      rgba($color-main--light, 0.1)
    ),

	url(https://static.pexels.com/photos/9574/pexels-photo.jpeg) no-repeat center center fixed;
	background-size: cover;
	height: 80vh;
	width: 100%;

	.wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;
	}

	&__buttons{
		margin-top: 20px;
	}

	h1{
		color: #fff;
		text-shadow: $text-shadow-sm;
		font-weight: 300;
		margin: 0;
	}

  @include tablet {
    background-attachment: initial;
  }
}
