/*------------------------------------*\
  #GLOBAL STYLES
\*------------------------------------*/

// Based on nav height
#content {
  margin-top: $nav-height;
}

// wrapper
.wrapper{
	padding: 40px 40px 45px 40px;
	max-width: 1200px;
	width: 80%;
  height: 100%;
	margin: 0 auto;

	@include mobile {
		padding: 20px 20px 23px 20px;
    width: 100%;
	}
}
