/*------------------------------------*\
  #GLOBAL STYLES
\*------------------------------------*/

// wrapper
.wrapper{
	padding: 40px;
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;

	@include mobile {
		padding: 20px 20px 23px 20px;
    width: 100%;
	}
}
