/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

// overlay
#menu-overlay{
  display: none;
}

#menu-overlay{
	width: 100vw;
	height: 120vh;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	z-index: 70;
	cursor: pointer;
}


// based on nav height
#content {
  margin-top: $nav-height;
}


// active items
.header-nav__item.is-active,
.mobile-nav__item.is-active{
	color: $color-main;
	font-weight: 600;
}


// nav items
.header-nav,
.mobile-nav {

  &__item{
  	transition: $transition1;
    color: $color-header ;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin: 0;

    &:last-child{
      margin-right: 0;
    }

  	&:hover{
  		color: $color-main;
  	}
  }
}


/*------------------------------------*\
  #TOP NAVIGATION
\*------------------------------------*/

// Header
header{
	z-index: 100;
	background: #fff;
	position: fixed;
	top: -1px;
	padding: 7px 30px;
	width: 100%;
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;

  &__item{
    margin-right: 30px;
  }

	@include mobile {
    display: none;
  }
}

// logo
.logo{
	height: 40px;
	width: auto;

	img{
		height: 100%;
		width: auto;
	}
}





/*------------------------------------*\
  #MOBILE
\*------------------------------------*/

.mobile-nav {
  position: fixed;
  height: calc(100vh - #{$nav-height} - 12px);
  margin-top: calc(#{$nav-height} + 12px);
  transition: transform 0.22s ease;
  transform: translateX(-100%);
  overflow: scroll;
  background: #fff;
  padding: 30px;
  z-index: 80;
	width: 75%;
	top: 0;

  &__item{
    display: block;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

	.menu-open & {
		transform: translateX(0);
	}
}


// hamburger icon
.hamburger-menu {
  width: 35px;

	&__stripe{
		width: 100%;
    height: 4px;
    margin: 5px;
    background: $oxford;
	}

  @include mobile-up {
    display: none;
  }
}
