/*------------------------------------*\
  #GLOBAL STYLES
\*------------------------------------*/

// wrapper
.wrapper{
	padding: 40px;
	max-width: 1000px;
	margin: 0 auto;

	@include mobile {
		padding: 40px;
    width: 100%;
	}
}
