.grid-layout {
  display: flex;

  figure{
    width: 100%;
    height: 100%;
  }

  img{
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  &__inner--left{
    width: 30%;
    min-height: 600px;
  }

  &__inner--right{
    width: 70%;
  }

  &__inner__inner {
    display: flex;
    height: 50%;

    figure:first-child{
      width: 60%;
    }

    figure:last-child{
      width: 40%;
    }

    &--reverse{
      figure:last-child{
        width: 60%;
      }

      figure:first-child{
        width: 40%;
      }
    }
  }
}
