.project-gallery{
  &__item{
    height: 500px;
    width: calc(100% - 10px);
    margin: 0 5px 5px 5px;
    overflow: hidden;

    img{
      background-size: cover !important;
      background-position: center center !important;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
    }
  }

  &__container--half {
    display: flex;

    .project-gallery__item:last-child{
      margin-left: 0;
    }
  }
}
