.project-slide{
  $dots-width: 100px;
  height: 100vh;
  position: relative;

  .wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: calc(#{$dots-width} - 20px);
    margin-right: calc(#{$dots-width} - 20px);
    max-width: 1200px;
    padding: 80px;
  }

  &:focus{
    outline: none;
  }

  &__wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  &__backdrop{
    position: absolute;
    background: #000;
    width: 45%;
    height: 100%;
    left: 0;
    padding: 200px 0;
    transform: skew(14deg,0deg);
    margin-left: -90px;
    overflow: hidden;
    z-index: -1;
  }

  &__backdrop__number{
    transform: skew(-14deg,0deg);
    font-family: $font-accent;
    margin: 0;
    font-size: 27rem;
    color: rgba(255,255,255, .12);

    &__container{
      position: absolute;
      bottom: -90px;
      left: -50px;
    }
  }

  &__dots{
    display: flex;
    flex-direction: column;
    transition: $transition1;

    &__container{
      height: 100%;
     position: absolute;
     display: flex;
     align-items: center;
     width: $dots-width;
     justify-content: center;
    }

    &:hover{
      transform: scale(1.4);
    }
  }

  &__dot{
    width: 12px;
    height: 12px;
    background: rgba(#fff, .2);
    border-radius: 50%;
    margin-bottom: 15px;
    transition: $transition1;

    &--active,
    &:hover{
      background: rgba(#fff, .9);
    }
  }


  &__image{
    width: 65%;
    margin-top: 240px;
  }

  &__text{
    margin-left: 60px;
  }

  &__tag{
    display: flex;
    margin-bottom: 30px;

    &__link{
      color: $color-main;
      font-family: $font-accent;

      &:hover{
        color: $color-main--dark;
      }
    }
  }

  &__tag__stripe{
    width: 30px;
    height: 2px;
    background: #000;
  }

  &__tag__title__container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  &__tag__title{
    font-weight: 600;
    line-height: 0.5;
    margin-bottom: 5px;
  }

  @media (max-width: 870px) {
    overflow: hidden;
    max-height: 100vh;

    &__image{
      transform: initial !important;
      bottom: initial;
      position: initial !important;
      margin-top: 0 !important;
      width: 100%;
    }

    &__wrapper{
      flex-direction: column;
    }

    .wrapper{
      margin-left: 50px;
    }

    &__dots__container{

    }

    &__dot{
      background-color: rgba(#000, .2);

      &--active{
        background-color: rgba(#000, .9);
      }
    }

    &__tags{
      margin-top: 22px;
      margin-left: 39px;
    }

    &__text{
      margin-left: 0;
      display: flex;
    }

    &__backdrop{
      transform: skew(0deg,-11deg);
      left: 0;
      right: 0;
      top: -100px;
      margin-left: 0;
      width: 100%;
      padding: 0;
      max-height: 310px;

      &__number{
        transform: skew(0deg,12deg);
      }
    }
  }

  @media (max-width: 550px){
    &__text{
      flex-direction: column;
      margin-top: 20px;
    }

    .wrapper{
      margin: 0;
      padding: 60px;
    }

    &__tags{
      margin-top: 0px;
      margin-left: 0;
    }

    &__backdrop__number{
      font-size: 19.3rem;
      letter-spacing: -13px;

      &__container{
        position: absolute;
        bottom: -60px;
        left: -75px;
      }
    }
  }

  @media (max-width: 400px){
    .wrapper{
      padding: 50px 20px 20px 20px;
      margin: 0;
    }
  }
}

#project-slide--axis{
  .project-slide__backdrop{
    background: #FE244D;

    &__number{
      color: rgba(0,0,0, .12);
    }
  }

  .btn-text{
    color: #FE244D;
  }

  .btn-text:after{
    background: #FE244D;
  }
}

#project-slide--greenegg{
  .project-slide__backdrop{
    background: $greenegg;
  }

  .project-slide__image{
    margin-top: 520px;
  }

  .btn-text{
    color: $greenegg;
  }

  .btn-text:after{
    background: $greenegg;
  }
}

#project-slide--vissenkoppen{
  .project-slide__backdrop{
    background: #0D3643;
  }

  .project-slide__image{
    position: relative;
    width: 460px;
    bottom: -280px;
  }

  .btn-text{
    color: #0D3643;
  }

  .btn-text:after{
    background: #0D3643;
  }

    @media (max-width: 1100px){
    .project-slide__image{
      position: relative;
      width: 370px;
      bottom: -280px;
    }

    h2{
      font-size: 3.8rem;
    }
  }
}




.detail-slide{
  .project-slide__image{
    margin-top: 0 !important;
  }

  .wrapper{
    margin-left: 0;
  }

  .project-slide__wrapper__inner {
    display: flex;
  }

  h2{
    margin-bottom: 15px;
  }

  .btn-text{
    display: table;
    font-size: 2rem;
    margin-top: 10px;
  }

  .project-slide__tag__title__container{
    margin-left: 0;
  }
}
