// Colors
$main-color               : #da4445;
$main-color2					    : lighten($main-color, 9%);
$main-color3				      : darken($main-color, 9%);
$accent-color					    : #009688;

$header-color						  : #1C1E23;
$text-color          			: #38415F;

$background-color         : #f9fafb;

$divider-color					  : rgba(182, 182, 182, 0.3);

$selection-color				  : $main-color;
$scrollbar-color				  : $main-color;

// Shadow
$shadow	        			    : 1px 4px 9px rgba(0, 0, 0, 0.09), 0 4px 17px rgba(0, 0, 0, 0.1);
$shadow2	        			  : 5px 10px 20px rgba(0, 0, 0, 0.08), 1px 8px 46px rgba(0, 0, 0, 0.09);
$shadow3	        			  : 15px 20px 30px rgba(0, 0, 0, 0.11), 1px 18px 46px rgba(0, 0, 0, 0.11);

// Measurements
$nav-height               : 60px;

// Border radius
$radius							      : 4%;

// Fonts
$header-font					    : 'Lato', sans-serif;
$text-font						    : 'Lato', sans-serif;

// margins and paddings
$padding-btn					    : 9px 27px;

// transition
$transition1					    : 0.28s all ease;
$transition2					    : 0.38s all ease;
$transition3					    : 0.55s all ease;

// shadows
$text-shadow              : 2px 1px 4px rgba(#1d1d1d, 0.5);
$text-shadow2             : 2px 1px 4px rgba(#1d1d1d, 0.7);

$mobile-width             : 468px;
$tablet-width             : 768px;
$desktop-width            : 1024px;
