/*------------------------------------*\
  #FIXED IMAGE
\*------------------------------------*/

.fixed-image {
  background: linear-gradient(rgba(38, 158, 217, 0.3), rgba(77, 175, 224, 0.1)), url(https://static.pexels.com/photos/9574/pexels-photo.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

.fixed-image .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.fixed-image__buttons {
  margin-top: 20px;
}

.fixed-image h1 {
  color: #fff;
  text-shadow: 2px 1px 4px rgba(29, 29, 29, 0.5);
  font-weight: 300;
  margin: 0;
}

@media (max-width: 768px) {
  .fixed-image {
    background-attachment: initial;
  }
}
