/*------------------------------------*\
  #Base styles
\*------------------------------------*/

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html{
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include mobile {
		font-size: 56%;
	}
}

::selection{
	background: $color-selection;
	text-shadow: $text-shadow-sm;
	color: #fff;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;
}

body{
	background: $color-background;
}

// img reset
img{
	max-width: 100%;
  height: auto;
  border: 0;
}

// basic hr
hr, .hr{
	display: block;
	height: .1rem;
	border: 0;  
	margin: 0;
	padding: 0;
	border-top: 1px solid $color-border;
}

li{
	list-style: none;
}

ul{
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
