/*------------------------------------*\
  #Form
\*------------------------------------*/
form {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

textarea,
input[type=text] {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid $color-border;
  margin: 0 0 2em;
  padding: 0.9em 1.3em;
  font-weight: 400;
  box-sizing: border-box;
  transition: $transition1;
  font-size: 1.3rem;
}

textarea:focus,
input[type=text]:focus {
  border: 1px solid $color-main;
}

input[type=submit] {
  @extend .btn;
  border: none;
  display: block;
  width: 100%;
}

label {
  font-size: 1.7rem;
  margin-bottom: 8px;
  display: block;
}

input[type=radio]~label {
  display: initial;
}
