.no-padding{
  padding: 0 !important;
}

.no-margin{
  margin: 0 !important;
}

.center{

  &-container{
    margin: 0 auto;
  }

  &-image{
    margin: 0 auto;
    display: block;
  }

  &-text{
    text-align: center;
  }

  &-content-hor{
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
      text-align: center;
      max-width: 540px;
    }
  }

  &-content-vert{
    display: flex;
    align-items: center;
  }
}

.bg-dark{
  background: $oxford;
  color: $color-body--light;

  h1, h2, h3, h4, h5, h6, th, .font-medium, .font-bold{
    color: #fff;
  }

  textarea,
  select,
  input{
    background: $color-black--light;
    border: $color-black--light 1px solid;

    &:focus{
      border: 1px solid $color-main;
    }
  }

  input[type=submit]{
    background: $color-main;

    &:hover{
      background: $color-main--dark;
    }
  }
}

.bg-light{
  background: $athens-gray;
  color: $color-body;

  h1, h2, h3, h4, h5, h6, th, .font-medium, .font-bold{
    color: $color-header;
  }
}
