/*------------------------------------*\
  #TYPOGHRAPY
\*------------------------------------*/

// Load fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);


// Basic text
h1, h2, h3, h4, h5, h6, th{
	font-family: $font-header;
	color: $color-header ;
	margin: 0 0 .4em 0;
	font-weight: 400;
}

p, li, ul, td, span{
	font-family: $font-body;
	color: $color-text;
	font-weight: 400; 
}

h1, .font-style-h1{
	font-size: 6.4rem;
}

h2, .font-style-h2{
	font-size: 4.8rem;
}

h3, .font-style-h3{
	font-size: 3.6rem;
}

h4, .font-style-h4{
	font-size: 2.4rem;
}

h5, .font-style-h5{
	font-size: 2rem;
}

h6, .font-style-h6 {
	font-size: 1.8rem;
	color: $color-text;
}

p, .font-style-p {
	font-size: 1.9rem;
	margin: 0 0 1em 0;
	line-height: 1.7;

	&:last-child{
		margin-bottom: 0;
	}
}

strong, .strong, .lead {
	font-weight: 600;
	color: $color-header ;
}

a {
	margin: 1rem 0;
	text-decoration: none;
	transition: $transition1;
	text-decoration: none;
}
